body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-brand{
  color: rgb(241, 241, 34) !important;
  font-weight: bold;
}
.card{
  border: 5px solid lightgray !important;
  border-radius: 16px !important;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
